BasedOnStyle: WebKit
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: true
  AfterFunction:   true
  AfterNamespace:  true
  SplitEmptyRecord: false
BreakConstructorInitializers: BeforeColon
BreakBeforeBraces: Custom
NamespaceIndentation: None
PointerAlignment: Right
SpaceInEmptyBlock: false



