# My attempt at a style consistent with Qt Creator's
# 'Qt' style. Tested against examples from the editor itself.
BasedOnStyle: WebKit
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: false
  AfterFunction:   true
  AfterNamespace:  true
  SplitEmptyRecord: false
BreakConstructorInitializers: BeforeColon
BreakBeforeBraces: Custom
NamespaceIndentation: None
PointerAlignment: Right
SpaceInEmptyBlock: false

# Tested against several of Qt's code examples.
SortIncludes: false
BreakInheritanceList: AfterColon
AlignAfterOpenBracket: Align

# My additions
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
